.card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: translateY(0);
}

.card.flipped {
    transform: rotateY(-90deg)
}

.fade-left {
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateX(0);
}

.fade-left.fade-out {
    opacity: 0;
    transform: translateX(30%);
}